.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 10px;
    margin-top: 50px;
}

.screen-header__title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #2e363e;
}

.screen-header__icons span{
    margin-left: 20px;
    
}

@keyframes rotateCog {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.screen-header__icons .fa-cog:hover{
    animation: rotateCog 1s linear infinite;
}